%h2
    Welcome to Stratus

%p
    Stratus provides a lookup table for vms on TMK. 
    
%ul
    %li
        Find a vm with "/vm/[name]"
    %li
        Stratus can respond with either html or json.
    
    